<!-- Formulario de Login con estilo B4 -->
<div class="container-fluid login-container" *ngIf="!authService.getUser()">
  <div class="row">
      <div class="col-md-6 offset-md-3 login-form-2">
          <h3>Login</h3>
          <form>
              <div class="form-group">
                <label class="text-white" for="username">User: (type <em>user</em>)</label>
                <input type="text" class="form-control" placeholder="Usuario *" name="username" #username/>
              </div>
              <div class="form-group">
                <label class="text-white" for="password">Password: (type <em>password</em>)</label>
                <input type="password" class="form-control" placeholder="Your Password *" name="password" #password />
              </div>
              <div class="form-group">
                <input type="submit" class="btnSubmit" value="Login" (click)="login(username.value, password.value)" />
              </div>

              <div class="form-group">
                <hr>
                <p class="alert alert-warning">{{ mensajeError }}</p>
                <hr>
                <!-- <a href="#" class="ForgetPwd" value="Login">Forget Password?</a> -->
                </div>
          </form>

      </div>
  </div>
</div>
<div class="container">
  <br>
  <input class="btn btn-danger btn-lg" type="button"  value="Salir" (click)="logout()" *ngIf="authService.getUser()" />
  <br>
</div>
