<div class="container-fluid">
    <div class="row">
        <div class="col text-success"><h1>Contenido de modulo adicional</h1></div>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-6 text-danger"><p>saludador works! module saludator angular <br> ----->HOLA</p></div>
        <div class="col-md-6 text-success"><p>Contenido de la segunda colunna <br>MUNDO<-----</p></div>
    </div>
</div>

