<div class="container content">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <span class= "anchor" id="formLogin"></span>

          <!--form card login with validation feedback-->
          <div class="card card-outline-secondary">
              <div class="card-header bg-primary">
                  <h3 class="mb-0 text-white">Whishlist</h3>
              </div>
              <div class="card-body">
                  <app-form-destino-viaje (onItemAdded)= "agregado($event)"></app-form-destino-viaje>
              </div>
          </div>
      </div>
      <hr class= "mb-5">
      <br>
      <br>
  </div>
</div>
<div class="container content">
  <br>
  <hr class="border-primary">
  <br>
  <div class="row row-flex" style="margin-bottom: 10px;">
    <app-destino-viaje
      *ngFor="let d of all; let i = index"
      [destino] = "d"
      [position]= "i+1"
      (onClicked)= 'elegido(d)'
      appEspiame
      ></app-destino-viaje>
    <br>
  </div>
  <hr class="mb-5">
  <div class="row row-flex" style="margin-bottom: 10px;">
    <h5>Actividad</h5>
    <ul>
      <li *ngFor = "let u of updates;">{{ u }}</li>
    </ul>
    <br>
  </div>
</div>
<br>
<br>
<!-- Lista ordenada array -->
<!-- <div class="container content bg-success">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="">Lista desordenada (UL)</h2>
     <div class="container">
      <ul>
        <li *ngFor="let item of paises">
          {{item}}
        </li>
      </ul>
     </div>
    </div>
  </div>
</div>
<hr class="mb-10">
<button type="button" class="btn btn-danger">Save</button> -->
