<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
      <div class="card-img">
          <img src="https://placeimg.com/380/230/nature" alt="" height="" width="">
          <span class=""><h5>{{ position }}</h5></span>
      </div>
      <div class="card-desc">
          <h3>{{ destino.nombre }}</h3>
          <p>Servicios</p>
          <br>
          <div>
            <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
              <i class="material-icons md-30">thumb_up</i>
            </a>
            <span class="badge badge-primary">{{destino.votes}}</span>
            <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
              <i class="material-icons md-30">thumb_down</i>
            </a>
            <span class="badge badge-danger">{{destino.votes}}</span>
            <a href="#" (click)="resetVotes()" ><i class="material-icons md-30">Reset</i></a>
            votos: {{ destino.votes }}
          </div>
          <br>
          <ul style="text-align: left;">
            <li *ngFor = "let s of destino.servicios;">
              <span class="container"  [ngSwitch]="s">
                <i *ngSwitchCase="'Desayuno'" style="color: red;">{{s}} *</i>
                <i *ngSwitchDefault>{{ s }}</i>
              </span>
            </li>

          </ul>
          <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">
          Ir!
          </a>
          <br>
          <br>
          <br>
          <!-- <span [style.display]="destino.isSelected()?'':'NONE'">- PREFERIDO -</span> -->
          <span *ngIf= "destino.isSelected()">
            <span ngNonBindable>  {{ PREFERIDO }} </span>
          </span>
      </div>
  </div>
