<form
[formGroup]= "fg"
(ngSubmit)= "guardar(
    fg.controls['nombre'].value,
    fg.controls['url'].value
    )">
  <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre ...."
      [formControl]= "fg.controls['nombre']">
      <ul>
        <li *ngFor = "let r of searchResults;"> {{ r }}</li>
      </ul>
      <!-- ALERTAS DE VALIDACION -->
      <!-- <div class="text-danger" *ngIf ="!fg.controls['nombre'].valid">Nombre invalido</div> -->
      <div class="alert alert-danger" role="alert"
      *ngIf ="fg.controls['nombre'].hasError('required')">Ingrese datos, campo vacio</div>
      <div class="alert alert-danger" role="alert"
      *ngIf ="fg.controls['nombre'].hasError('invalidNombre')">Nombre invalido!!</div>
      <div class="alert alert-danger" role="alert"
      *ngIf ="fg.controls['nombre'].hasError('minLongNombre')">Nombre debe tener al menos
      {{ minLongitud }} de largo</div>
      <!-- FIN ALERTAS DE VALIDACION -->
  </div>
  <div class="form-group">
      <label for="Imagen Url"></label>
      <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar URL ...."
      [formControl]= "fg.controls['url']">
      <div class="text-danger" *ngIf ="fg.controls['url'].hasError('required')">Ingrese la url, campo vacio</div>
  </div>
  <button type="submit" class="btn btn-primary" *ngIf= "fg.valid">Guardar!</button>
</form>
