<div class="jumbotron jumbotron-fluid bg-primary text-white">
  <h1 class="display-4 text-center">Proyecto Angular</h1>
  <div class="container">
    <div style="float: right;">
      <select (change) = "translate.use($event.target.value)">
        <option value="es" selected>Español</option>
        <option value="fr">Frances</option>
        <option value="en">English</option>
      </select>
    </div>
  </div>
  <hr class="my-4">
  <p class="text-center">Este proyecto esta construido con Angular CLI: v10.0.3  Node: v14.5.0  OS: vlinux x64
  </p>
</div>
<!-- Header con barra de navegacion -->
 <div class="container-fluid content  encabezado">
    <div class="page-header">
        <div class="container text-center">
          <br>
            <h1>Ruteo Simple</h1>
            <nav class="nav-links">
              <a style="color:white" [routerLink]= "['/home']">Home</a><span> | </span>
              <a style="color:white" [routerLink]= "['/destino']">Destino</a>
            </nav>
        </div>
    </div>
</div>
<!-- Section  contenido dinamico -->
<div class= "container content  text-center">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ title }} <b [innerHTML] = "'Hola' | translate"></b></h1>
      <hr class="border-primary">
     <router-outlet></router-outlet>
    </div>
    <hr class="mb-5">
  </div>
</div>
<hr class="border-primary">
Fecha: {{ time | async}}
<br>
<br>
<br>
<!-- Footer -->
<footer class="page-footer font-small bg-primary text-white pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">FullStack Web Dev --> Proyecto Angular</h5>
        <p>.</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Contacto</h5>
        <ul class="list-unstyled">
          <li><a href="#!"></a></li>
          <li><a href="#!"></a></li>
          <li><a href="#!"></a></li>
          <li><a href="#!"></a></li>
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Politicas</h5>
        <ul class="list-unstyled">
          <li><a href="#!"></a></li>
          <li><a href="#!"></a></li>
          <li><a href="#!"></a></li>
          <li><a href="#!"></a></li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a href="http://ingvictormlnunez.club/"></a>
    <p>© 2020 Copyright: Ing Victor Ml Nunez</p>
  </div>
</footer>
