<p>reservas-listado works!</p>
<a class="btn btn-info" [routerLink]="['./, 10']">Ir a detalle</a> <span> | </span>
<a class="btn btn-info" [routerLink]="['/login']">Ir a Login</a>

<div *ngFor= "let r of api.getAll()">
  {{ r.id }} - {{ r.name }}
</div>
